<mat-card class="example-card">
    <mat-toolbar color="accent">
        <span>LOGIN</span>
    </mat-toolbar>
    <mat-grid-list cols="1" rowHeight="200px">
        <mat-grid-tile>
            <div class="ctrl-container">
                <button mat-raised-button color="primary" (click)="GuestClick()">GUEST</button>
                <button mat-raised-button color="accent" (click)="EditorClick()">EDITOR</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>


<!-- <app-login></app-login> -->

