.item{
    margin: .4em;
}


.btn-blc > button{
    display: block;
    margin-right: auto;
    width: 90%;
    /* font-weight:s bold; */
    /* letter-spacing: .5em; */
    font-size: 18.5px;
}

.ctrl-container > * {
    width: 90%;
}

.select-btn:hover{
    box-shadow: 0 0 7px rgb(130, 35, 255);
    background: rgb(114, 32, 221);
}