<!-- <div id="holder">
    <form #form="ngForm" autocomplete="off" (submit)="onSubmit()" >
        <div class="form-row">
            <select class="form-control item" (change)="setDept($event.target.value)">
                <option value="">Department</option>
                <option *ngFor="let dept of Depts" [value]="dept.Name">{{dept.Name}}</option>
            </select>
            <select class="form-control item" (change)="setSec($event.target.value)">
                <option value="">Section</option>
                <option *ngFor="let sec of Sections" [value]="sec">{{sec}}</option>
            </select>
            <select class="form-control item" (change)="setSem($event.target.value)">
                <option value="">Select Semester...</option>
                <option *ngFor="let sem of Semesters" [value]="sem">{{sem}}</option>
            </select>
            <button type="submit" class="btn btn-lg btn-block btn-info item">Render Routine</button>
        </div>
    </form>
</div> -->
    <form [formGroup]="this.SelectorForm" autocomplete="off" (submit)="onSubmit()">
        <mat-grid-list cols="1" rowHeight="200px">
            <mat-grid-tile>
                <div class="ctrl-container">
                    <mat-form-field>
                    <mat-label>DEPARTMENT</mat-label>
                    <mat-select formControlName="Dept" (selectionChange)="setDept($event.value)" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let dept of Depts" [value]="dept.Name">
                            {{dept.Name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="this.SelectorForm.controls['Dept'].value == null">Please choose a DEPARTMENT</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>SECTION</mat-label>
                    <mat-select formControlName="Sec" (selectionChange)="setSec($event.value)" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let sec of Sections" [value]="sec">
                            {{sec}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="this.SelectorForm.controls['Sec'].value == null">Please choose a SECTION</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>SEMESTER</mat-label>
                    <mat-select formControlName="Sem" (selectionChange)="setSem($event.value)" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let sem of Semesters" [value]="sem">
                            {{sem}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="this.SelectorForm.controls['Sem'].value == null">Please choose a SEMESTER</mat-error>
                </mat-form-field>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
        <div class="btn-blc">
            <button type="submit" mat-raised-button color="primary"> S E L E C T </button> 
        </div>
    </form>
