<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>R E B O O K</span>
        <span class="spacer"></span>
        <span>  <p class="made-for" *ngIf="service.ButtonValue == true" >{{service.s_Dept}} > {{service.s_Sec}} > Sem {{service.s_Sem}}</p> </span>
        <span class="material-icons L-padded" *ngIf="service.ButtonValue == true">import_contacts <div> CHANGE PAGE</div></span>
        <span class="example-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar> 
<div *ngIf="this.service.ButtonValue">
    <app-routine-view></app-routine-view>
</div>
<div  class="form-window">
    <div class="Selector" [style.margin-right] = "this.locator()">
        <app-selector></app-selector>
    </div>
    <!-- <div class="Specifier">
        <app-employee></app-employee> 
    </div> -->
</div>