/* .form-block{
    padding-top: 2em;
    padding-left: 2em;
}

.item{
    margin-bottom: .8em;
}

.container{
    display: flex;
}

.rooms-block{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.nested{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.room{
    flex: 1;
    width: 4em;
    color: white;
    text-align: center;
    border: 1px solid white;
    border-radius: 0.2em;
    margin: 3px;
    min-width: 5em;
    max-width: 5em;
}

form.normal-form{
    margin: 10px;
}

.ctrl-container{
    width: 100%;
    padding: 5%;
} */

.ctrl-container > * {
    width: 90%;
}

.time-container > * {
    width: 50%;
}

.example-button-row {
    display: table-cell;
  }

.container{
    display: flex;
}

.rooms-block{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.btn-blc{
    display: block;
    padding-bottom: 2em;
}

.btn-blc > button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 22%;
    /* font-weight:s bold; */
    /* letter-spacing: .5em; */
    font-size: 18.5px;
}

.time-cont > mat-form-field{
    display: inline-block;
    width: 48%;
}

.shit-to-be-pushed {
    margin-right: 1em;
}