<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>R E B O O K</span>
    <span class="example-spacer"></span>
    <span class="material-icons">face</span>
    <span class="material-icons">class</span>
    </mat-toolbar-row>
</mat-toolbar>    
<div *ngIf="this.service.ButtonValue">
    <app-employee-list></app-employee-list>
</div>
<div  class="form-window">
    <div class="Selector" [style.margin-right] = "this.locator()">
        <app-selector></app-selector>
    </div>
    <!-- <div class="Specifier">
        <app-employee></app-employee>
    </div> -->
</div>