.form-window{
    width: 100%;
    display: flex;
}

.Selector{
    width: 25%;
    margin-left: auto;
    padding-top: 2em;
    margin-bottom: 5em;
}

.Specifier{
    width: 70%;
}

.material-icons {
  text-align: center;
  font-size: 33px;
  padding: 5px .7em;
}

.material-icons:hover {
  cursor: pointer;
  color: #7740d6;
  background-color: rgb(238, 233, 248);
  border-radius: 5px;
}

.example-spacer {
  flex: 1 1 auto;
}