<!-- <div class="container">
    <div class="rooms-block">
        <h3>List of rooms</h3><br>
        <div class="nested">
            <div class="room" *ngFor="let room of this.service.RoomacrdBuil" [style.background] = "roomAvail(room)">{{room}}</div>
        </div>
    </div> -->
<mat-divider></mat-divider>
<mat-toolbar style="min-height:30px" color="#8cffd5">
    R O O M S
</mat-toolbar>
<!-- <h4>Room Availability</h4><br> -->
<mat-tab-group>
    <mat-tab label="ACADEMIC BUILDING 1">
        <!-- <span *ngFor="let room of this.service.rooms" [style.background] = "roomAvail(room)">{{room.RoomNo}} </span> -->
        <div class="button-row">
            <div class="room-block" style="background: #ff5500;" *ngFor="let room of this.ACB1Rooms">{{room}}</div>
        </div>
    </mat-tab>
    <mat-tab label="ACADEMIC BUILDING 2">
        <div class="button-row">
            <div class="room-block" style="background: #ff5500;" *ngFor="let room of this.ACB2Rooms">{{room}}</div>
        </div>
    </mat-tab>
    <mat-tab label="ACADEMIC BUILDING 3">
        <div class="button-row">
            <div class="room-block" style="background: #ff5500;" *ngFor="let room of this.ACB3Rooms">{{room}}</div>
        </div>
    </mat-tab>
</mat-tab-group>