.example-card {
    max-width: 500px;
  }  
  
  .ctrl-container > * {
    width: 90%;
}

.btn-blc > button{
  display: block;
  margin-right: auto;
  width: 90%;
  /* font-weight:s bold; */
  /* letter-spacing: .5em; */
  font-size: 18.5px;
}